{% extends 'base.html' %} {% block title %} | Welcome
{%endblock %} {% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
      {% include 'partials/_alerts.html' %}
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          My American Homestay
        </h1>
        <p class="lead">
          Monthly Progress Reports
        </p>
        <div class="search">
          <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin</a>
          <a href="{% url 'login' %}" class="btn btn-primary">Coordinator</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
