input[type="radio"], input[type="checkbox"].largercheckbox {
  margin-right: 0.5rem;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.form .form-group {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
  align-self: center;

}

h2 {
  border: 4px dotted blue;
}

#post-form {
  align-self: stretch;
  align-items: stretch;
}

#_st_1a {
  align-self: stretch;
  align-items: stretch;
}

#edit-form {
  align-self: stretch;
  align-items: stretch;
}

.form .form-text {
  display: flex;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  width: 100%;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}


.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(70, 25, 25, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(151, 26, 26, 0.8); }

#showcase-inner {
  background: url(../img/america.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(151, 26, 26, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
